header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 4px;
}

video {
    /* add your style definitions here */
    border: brown;
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 15px;
    /* transitions applied to the video element */
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

audio{
    border:cadetblue;
    border-radius: 5px;
    margin-bottom: 4px;
    margin-top: 20 px;
}

button.back{
    /*These lines override the previous styling of buttons*/
   border-image: url("greyButton.png");
   background: url("greyButton.png");
   background-size: cover;
   width:60px;
   height: 30px;
    
   /*These lines position the back button inside the header*/
   position:absolute;
   left:16px;
   top:8px; }
   

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 4px;
}